@import 'bootstrap';

.home-container {
    background-image: url('/assets/app-bg.png');
}

//  Header Styling
 .header-nav{
     height:5rem;
 }

 .header-nav NavbarBrand{
     font-size: 1.75rem;
 }
 
 header a:link{
     text-decoration: none;
     color: rgba(255, 255, 255, 0.55);
 }

 header a{
     text-decoration: none;
     color: rgba(255, 255, 255, 0.55);
 }
 
 header .header-login{
     padding: 10px;
 }
 